/* Reset some default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the body */
body {
    background-image: url();
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#ffb8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Style the form container */
form {
    background-color: #8cd7f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    text-align: center;
    /* opacity: 0.8; */
}

/* Style the login heading */
h1 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

/* Style labels for input fields */
p {
    font-size: 16px;
    color: #000000;
    text-align: left;
    margin-bottom: 8px;
}

/* Style input fields */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s;
}

/* Change input border color on focus */
input[type="text"]:focus {
    border-color: #007bff;
}

/* Style the login button */
input[type="submit"] {
    background-color: #162535;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 2s;
}

/* Style the login button on hover */
input[type="submit"]:hover {
    background-color: #0056b3;
}
